<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a [routerLink]="['/website/'+this._websiteId+'/page/'+this._pageId+'/widget']"
       class="navbar-link cl-text-black cl-icon-padding float-left mr-4">
      <span class="fas fa-chevron-left fontawsome_icon"></span>
    </a>
    <a class="navbar-text cl-text-white cl-text-bold mr-auto"
       [routerLink]="['/website/'+this._websiteId+'/page/'+this._pageId+'/widget/'+this._widgetId]">
      Widgets Edit
    </a>
    <a [routerLink]="['/website/'+this._websiteId+'/page/'+this._pageId+'/widget']"
       class="navbar-link cl-icon-padding cl-text-black float-right"
       (click)="updateHtml()">
      <button class="fas fa-check fontawesome_icon btn btn-light bg-light border-light cl-text-bold"
              [disabled]="editHtmlForm.invalid">
      </button>
    </a>
  </div>
</nav>

<div class="container-fluid">
  <form #editHtmlForm="ngForm">
    <div class="form-group">
      <label>Name</label>
      <input type="text"
             required
             ngModel
             name="html-name"
             #htmlName="ngModel"
             [(ngModel)]="this._widget.name"
             class="form-control"
             id="html-name"
             placeholder="Name"
             [class.is-invalid]="htmlName.touched && htmlName.invalid">
      <small class="text-danger"
             *ngIf="htmlName.touched && htmlName.invalid">HTML name is required!
      </small>
    </div>
    <quill-editor [(ngModel)]="this._widget.text"
                  name="text"></quill-editor>
    <button type="button"
            class="btn btn-danger  btn-block my-2"
            [routerLink]="['/website/'+this._websiteId+'/page/'+this._pageId+'/widget']"
            (click)="deleteHtml()">
      Delete
    </button>
  </form>
</div>

<nav class="navbar navbar-light bg-light fixed-bottom">
  <div class="container-fluid">
    <a [routerLink]="['/profile']"
       class="navbar-link cl-icon-padding ml-auto">
      <span class="fas fa-user fontawsome_icon cl-text-blue"></span>
    </a>
  </div>
</nav>
