<nav class="navbar fixed-top cl-blue-navbar">
  <div class="container">
    <a class="cl-text-white navbar-brand cl-text-bold" [routerLink]="['/user/' + this._userId]">
      Profile
    </a>
    <a (click)="onUpdateUser()"
       class="navbar-link">
      <button class="fas fa-check fontawesome_icon color-white btn cl-text-white cl-text-bold cl-blue-navbar"
              [disabled]="profileForm.invalid">
      </button>
    </a>
  </div>
</nav>


<div class="container">
  <!--<h1 class="text-white bg-primary">Profile</h1>-->

  <form #profileForm="ngForm">
    <!-- show the findUserByIdError if possible -->
    <div *ngIf="this._findUserByIdError">
      <p class="alert alert-danger">{{ this._findUserByIdError }}</p>
    </div>

    <div *ngIf="this._logoutError">
      <p class="alert alert-danger">{{ this._logoutError }}</p>
    </div>

    <div class="form-group">
      <label for="username" class="cl-text-bold">Username</label>
      <input type="text"
             required
             [(ngModel)]="this._user.username"
             name="username"
             #username="ngModel"
             class="form-control"
             id="username"
             placeholder="Username"
             [class.is-invalid]="username.touched && username.invalid">
      <small class="text-danger"
             *ngIf="username.touched && username.invalid">Username is required!
      </small>
    </div>
    <div class="form-group">
      <label for="email" class="cl-text-bold">Email</label>
      <input type="email"
             required
             [(ngModel)]="this._user.email"
             name="email"
             #email="ngModel"
             class="form-control"
             id="email"
             placeholder="Email"
             [class.is-invalid]="email.touched && email.invalid">
      <small class="text-danger"
             *ngIf="email.touched && email.invalid">Email is required!
      </small>
    </div>
    <div class="form-group">
      <label for="first-name" class="cl-text-bold">First Name</label>
      <input type="text"
             [(ngModel)]="this._user.firstName"
             name="firstName"
             #firstName="ngModel"
             class="form-control"
             id="first-name"
             placeholder="First name">
    </div>
    <div class="form-group">
      <label for="last-name" class="cl-text-bold">Last Name</label>
      <input type="text"
             [(ngModel)]="this._user.lastName"
             name="lastName"
             #lastName="ngModel"
             class="form-control"
             id="last-name"
             placeholder="Last name">
    </div>
  </form>

  <button type="button"
          class="btn btn-primary btn-block"
          [routerLink]="['/user/' + this._userId +'/website']">
    Websites
  </button>
  <button type="button"
          class="btn btn-light btn-block"
          (click)="onDeleteUser()">
    Delete User
  </button>
  <small class="alert alert-danger"
         *ngIf="this._deleteUserError">
    {{ this._deleteUserError }}
  </small>
  <a class="btn btn-danger  btn-block"
     (click)="this.onLogout()">
    Logout</a>
</div>

<nav class="navbar fixed-bottom cl-blue-navbar">
  <div class="container m-auto">
    <div class="navbar-text">
      <a [routerLink]="['/user/' + this._userId]">
        <span class="fas fa-check fontawsome_icon mx-2 color-white"></span>
      </a>
      <a [routerLink]="['/user/' + this._userId]">
        <span class="fas fa-plus fontawsome_icon mx-2 color-white"></span>
      </a>
      <a [routerLink]="['/user/' + this._userId]">
        <span class="fas fa-star fontawsome_icon mx-2 color-white"></span>
      </a>
      <a [routerLink]="['/user/' + this._userId]">
        <span class="fas fa-heart fontawsome_icon mx-2 color-white"></span>
      </a>
    </div>
  </div>
</nav>
