<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a [routerLink]="['/website/'+this._websiteId+'/page/'+this._pageId+'/widget']"
       class="navbar-link cl-text-black cl-icon-padding float=left mr-4">
      <span class="fas fa-chevron-left fontawsome_icon"></span>
    </a>
    <a class="navbar-text cl-text-white cl-text-bold mr-auto"
       [routerLink]="['/website/'+this._websiteId+'/page/'+this._pageId+'/widget/new']">
      Choose Widget
    </a>
  </div>
</nav>

<div class="container-fluid cl-container-padding">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="this.onCreateNewWidget('HEADER')"
         class="cl-text-blue btn btn-light">Header</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a [routerLink]="['/website/'+this._websiteId+'/page/'+this._pageId+'/widget/new']"
         class="cl-text-blue btn btn-light">Label</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="this.onCreateNewWidget('HTML')"
         class="cl-text-blue btn btn-light">HTML</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="this.onCreateNewWidget('TEXT')"
         class="cl-text-blue btn btn-light">Text Input</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a [routerLink]="['/website/'+this._websiteId+'/page/'+this._pageId+'/widget/new']"
         class="cl-text-blue btn btn-light">Link</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a [routerLink]="['/website/'+this._websiteId+'/page/'+this._pageId+'/widget/new']"
         class="cl-text-blue btn btn-light">Button</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="this.onCreateNewWidget('IMAGE')"
         class="cl-text-blue btn btn-light">Image</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="this.onCreateNewWidget('YOUTUBE')"
         class="cl-text-blue btn btn-light">YouTube</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a [routerLink]="['/website/'+this._websiteId+'/page/'+this._pageId+'/widget/new']"
         class="cl-text-blue btn btn-light">Data Table</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a [routerLink]="['/website/'+this._websiteId+'/page/'+this._pageId+'/widget/new']"
         class="cl-text-blue btn btn-light">Repeater</a>
    </li>
  </ul>
</div>

<nav class="navbar navbar-light bg-light fixed-bottom">
  <div class="container-fluid">
    <a [routerLink]="['/profile']"
       class="navbar-link cl-icon-padding ml-auto">
      <span class="fas fa-user fontawsome_icon cl-text-blue"></span>
    </a>
  </div>
</nav>
