<!--The navigation bar-->
<nav class="navbar fixed-top cl-blue-navbar">
  <div class="container-fluid">
    <div class="col-4 hidden-xs d-none d-md-block">
      <div class="container pl-0">
        <a [routerLink]="['/user/' + this._userId + '/website']"
           class="navbar-link cl-text-white mr-4">
          <span class="fas fa-chevron-left fontawsome_icon"></span>
        </a>
        <a class="cl-text-white navbar-brand cl-text-bold m-auto"
           [routerLink]="['/user/' + this._userId + '/website/new']">
          Websites
        </a>
        <a [routerLink]="['/user/' + this._userId + '/website/new']"
           class="navbar-link navbar-text cl-text-white cl-icon-padding float-right">
          <span class="fas fa-plus fontawsome_icon"></span>
        </a>
      </div>
    </div>
    <div class="col-8">
      <div class="container pl-0">
        <a class="cl-text-white navbar-brand cl-text-bold"
           [routerLink]="['/user/' + this._userId + '/website/new']">
          New Websites
        </a>
        <a [routerLink]="['/user/' + this._userId + '/website']"
           (click)="onSubmitNewWebsite()"
           class="navbar-link navbar-text float-right cl-text-white">
          <span class="fas fa-check fontawsome_icon"></span>
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-4 hidden-xs d-none d-md-block p-0 h-md-100 border-right">
      <div class="container">
        <ul class="list-group cl-list-group-borderless"
            *ngFor="let website of this._websites; index as i">
          <li class="list-group-item cl-list-item-borderless">
            <a [routerLink]="['/user/' + website.developerId + '/website/' + website._id + '/page']"
               class="cl-text-blue">
              {{ website.name }}
            </a>
            <a [routerLink]="['/user/' + website.developerId + '/website/' + website._id]"
               class="cl-text-blue">
              <span class="fas fa-cog fontawsome_icon float-right"></span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-8 p-2 h-md-100">
      <form #newWebsiteForm="ngForm">
        <div class="form-group">
          <label for="website-name"
                 class="cl-text-bold">Name</label>
          <input type="text"
                 ngModel
                 name="website-name"
                 #websiteName="ngModel"
                 [(ngModel)]="this._name"
                 class="form-control"
                 id="website-name"
                 placeholder="Name">
        </div>
        <div class="form-group">
          <label for="website-description"
                 class="cl-text-bold">Description</label>
          <textarea id="website-description"
                    ngModel
                    name="website-description"
                    #websiteDescription="ngModel"
                    [(ngModel)]="this._description"
                    class="form-control"
                    rows="5"
                    placeholder="Description"></textarea>
        </div>
      </form>
    </div>
  </div>
</div>

<nav class="navbar fixed-bottom cl-blue-navbar">
  <div class="container-fluid">
    <a [routerLink]="['/user/' + this._userId]"
       class="navbar-link navbar-text ml-auto cl-text-white cl-icon-padding">
      <span class="fas fa-user fontawsome_icon"></span>
    </a>
  </div>
</nav>
