<div class="container mb-5">
  <div>
    <h2>Homework 3</h2>
    <h3>Wenbo Wang</h3>
    <h3>wang.wenbo@husky.neu.edu</h3>
  </div>
  <br>
  <hr>

  <!--test the sortable directive-->
  <div>
    <button type="button"
            class="btn btn-light"
            (click)="this._toggleTestSortable()">
      Test Sortable(on/off)
    </button>
    <div *ngIf="this._testSortableFlag">
      <h3>Testing sortable items...</h3>
      <ul
        appSortable (newIndexEvent)="reorderItems($event)">
        <li *ngFor="let item of this._sortableItems; index as i">{{ i }}. {{ item }}</li>
      </ul>
    </div>
  </div>
  <br>
  <hr>

  <!--display this errorMsg if the entered credentials do not match-->
  <div class="alert alert-danger"
       *ngIf="this.errorFlag">
    {{ this.errorMsg }}
  </div>

  <form #loginForm="ngForm"
        (ngSubmit)="login()">
    <h1>Login</h1>
    <div class="form-group">
      <input type="text"
             required
             ngModel
             name="username"
             #username="ngModel"
             class="form-control"
             placeholder="Username"
             [class.is-invalid]="username.touched && username.invalid"/>
      <small class="text-danger"
             *ngIf="username.touched && username.invalid">
        Username is required!
      </small>
    </div>
    <div class="form-group">
      <input type="password"
             required
             ngModel
             name="password"
             #password="ngModel"
             class="form-control"
             placeholder="Password"
             [class.is-invalid]="password.touched && password.invalid"/>
      <small class="text-danger"
             *ngIf="password.touched && password.invalid">
        Password is required!
      </small>
    </div>
    <button type="submit"
            class="btn btn-primary btn-block"
            [disabled]="!loginForm.valid">
      Login
    </button>
    <button type="button"
            class="btn btn-success btn-block"
            [routerLink]="['/register']">
      Register
    </button>

    <!--<div [appChangeBgColor]="this._bgColor">hello world</div>-->
  </form>
</div>
