<div [ngSwitch]="this._widget.widgetType">
  <div *ngSwitchCase="'HEADER'">
    <app-widget-header [_userId]="this._userId"
                       [_websiteId]="this._websiteId"
                       [_pageId]="this._pageId"
                       [_widgetId]="this._widgetId"
                       [_widget]="this._widget"
                       (_updateHeaderEvent)="this.updateWidget($event)"
                       (_deleteHeaderEvent)="this.deleteWidget($event)">
    </app-widget-header>
  </div>
  <div *ngSwitchCase="'IMAGE'">
    <app-widget-image [_userId]="this._userId"
                      [_websiteId]="this._websiteId"
                      [_pageId]="this._pageId"
                      [_widgetId]="this._widgetId"
                      [_widget]="this._widget"
                      (_updateImageEvent)="this.updateWidget($event)"
                      (_deleteImageEvent)="this.deleteWidget($event)">
    </app-widget-image>
  </div>
  <div *ngSwitchCase="'YOUTUBE'">
    <app-widget-youtube [_userId]="this._userId"
                        [_websiteId]="this._websiteId"
                        [_pageId]="this._pageId"
                        [_widgetId]="this._widgetId"
                        [_widget]="this._widget"
                        (_updateYoutubeEvent)="this.updateWidget($event)"
                        (_deleteYoutubeEvent)="this.deleteWidget($event)">
    </app-widget-youtube>
  </div>
  <div *ngSwitchCase="'HTML'">
    <app-widget-html [_userId]="this._userId"
                     [_websiteId]="this._websiteId"
                     [_pageId]="this._pageId"
                     [_widgetId]="this._widgetId"
                     [_widget]="this._widget"
                     (_updateHtmlEvent)="this.updateWidget($event)"
                     (_deleteHtmlEvent)="this.deleteWidget($event)">
    </app-widget-html>
  </div>
</div>
